.App {
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 20px;
    max-width: 100%;
}

header {
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 20px;
}

h1, h2 {
    color: #333;
    margin-bottom: 15px;
}

.modules-list {
    list-style-type: none;
    padding: 0;
}

.modules-list li {
    margin-bottom: 15px;
}

.module-icon {
    /* Adicione o estilo para os ícones dos módulos aqui */
}

.dashboard-logo {
    width: 80%;  
    max-width: 300px;  
    display: block;
    margin: 0 auto;
}

@media (max-width: 600px) {
    /* Estilos para dispositivos com largura menor que 600px (tipicamente celulares) */
    .dashboard-logo {
        width: 100%;  
    }

    h1, h2 {
        font-size: 1.2rem; 
    }
    
    .modules-list {
        font-size: 0.9rem;  
    }
}
