.App {
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 20px;
    max-width: 100%;
}

header {
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 20px;
}

h1, h2 {
    color: #333;
    margin-bottom: 15px;
}

p {
    margin-bottom: 20px;
    text-align: justify;
}

a {
    background-color: #009688;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #007766;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    padding: 8px 0;
}

h1, h2 {
    font-weight: bold;
    color: white;
    text-align: center;
}

p {
    color: white;
    text-align: justify;
    padding: 0 15px;
}

ul li {
    color: white;
    padding: 5px 0;
}

.App header, .App main, .App footer {
    text-align: center;
}

.contentWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.guiazinhoImg {
  width: 50%;  /* Alterado para 50% */
  margin-left: 20px;
  max-width: 200px; /* Adicionado um tamanho máximo */
}

@media (max-width: 600px) {
    /* Estilos para dispositivos com largura menor que 600px (tipicamente celulares) */
    h1, h2 {
        font-size: 1.2rem; 
    }

    p, ul li {
        font-size: 0.9rem;  
    }

    .guiazinhoImg {
        width: 80%;  /* Alterado para 80% em telas menores */
    }

    .contentWrapper {
      flex-direction: column; /* Os itens se alinham verticalmente em dispositivos móveis */
    }
}
.logo-img {
    width: 50%; /* Ajuste a largura conforme necessário */
    max-width: 200px; /* Adicione um tamanho máximo */
    display: block;
    margin: 0 auto; /* Centraliza a imagem horizontalmente */
}

