/* HomePage.css */

.App {
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 20px;
}

header {
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 20px;
}

h1, h2 {
    color: #333;
    margin-bottom: 15px;
}

p {
    margin-bottom: 20px;
    text-align: justify;
}

a {
    background-color: #009688;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #007766;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    padding: 8px 0;
}

h1, h2 {
    font-weight: bold;
    color: white;
    text-align: center;
}

p {
    color: white;
    text-align: justify;
    padding: 0 15px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    color: white;
    padding: 5px 0;
}

.App header, .App main, .App footer {
    text-align: center;
}

.App p, .App h1, .App h2, .App ul {
    text-align: center;
}

.contentWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.guiazinhoImg {
  width: 20%;
  margin-left: 20px;
}
